@import "reset";

body,
html {
  width: 100%;
  height: 100%;
  background-color: #E3E6FF;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  @media (max-width: 550px) {
    height: auto;
  }
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .container {
    position: relative;
    width: 926px;
    height: 560px;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: 991px) {
      width: 100%;
      height: 100%;
    }

    .bg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 870px;
      height: calc(100% + 36px);
      background-color: #fff;
      border-radius: 20px;

      @media (max-width: 991px) {
        width: 100%;
        height: 100%;
      }
    }

    .cards-wrapper {
      position: relative;
      z-index: 1;
      width: 100%;
      height: 100%;
      border-radius: 20px;
      display: flex;
      flex-wrap: wrap;
      overflow: hidden;

      @media (max-width: 991px) {
        border-radius: 0;
      }

      .card {
        flex: 1 1 33.3%;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
        gap: 5px;
        padding: 80px 30px 60px 30px;

        @media (max-width: 991px) {
          flex-basis: 50%;
          height: auto;
        }

        @media (max-width: 550px) {
          flex-basis: 100%;
        }

        .card-title {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          position: relative;
          flex: 1 1;
          padding-left: 25px;

          img {
            width: 20px;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            filter: invert(100%) sepia(34%) saturate(1776%) hue-rotate(287deg) brightness(96%) contrast(109%);
          }

          h2 {
            font-size: 16px;
            font-weight: bold;
            color: #ffffff;
          }
        }


        .card-body {
          flex: 1 1;

          ul {
            display: flex;
            flex-direction: column;
            gap: 20px;

            li {
              font-size: 12px;
              color: #ffffff;
            }
          }
        }

        &:nth-child(1) {
          background-color: #FB8A6B;
          padding-left: 60px;
        }

        &:nth-child(2) {
          background-color: #FB6B6C;
        }

        &:nth-child(3) {
          background-color: #F1A864;
        }

        &:nth-child(4) {
          background-color: #FCD26C;
          padding-top: 55px;
          padding-left: 60px;

          .card-title {
            align-items: flex-start;
            flex: none;
            margin-bottom: 20px;

            img {
              top: 0;
              transform: translateY(0%);
              filter: invert(30%) sepia(7%) saturate(833%) hue-rotate(154deg) brightness(94%) contrast(85%);
            }

            h2 {
              color: #485358;
            }
          }

          .card-body {
            ul {
              li {
                color: #485358;
              }
            }
          }
        }

        &:nth-child(5) {
          background-color: #485358;
          padding-top: 55px;
          gap: 20px;

          @media (max-width: 991px) {
            flex-basis: 100%;
          }

          h2 {
            width: 50%;
            font-size: 16px;
            font-weight: bold;
            color: #ffffff;
          }

          p {
            width: 50%;
            font-size: 12px;
            color: #ffffff;
            line-height: 1.7;
          }

          button {
            width: 150px;
            height: 40px;
            background-color: #ffffff;
            border: none;
          }
        }

        &:last-child {
          flex-basis: 66.6%;
        }
      }
    }
  }
}