* {
  margin: 0;
  box-sizing: border-box;
}

header {
  height: 80px;
  width: 100%;
  background-color: brown;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header .logo-wrapper h1 {
  font-size: 26px;
  font-weight: bold;
  color: #fff;
}

header .navbar nav ul {
  display: flex;
}

header .navbar nav ul li {
  list-style: none;
  padding: 10px;
  margin: 0 5px;
  user-select: none;
  transition: .2s;
  border: 1px solid transparent;
}

header .navbar nav ul li:hover {
  background-color: black;
  color: #fff;
  border-color: #fff;
}


header .navbar nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}